<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.architecture.blueprints.todoapp">

    <application>
        <uses-library android:name="android.test.runner"
            android:required="false" />
        <uses-library android:name="android.test.base"
            android:required="false" />
        <uses-library android:name="android.test.mock"
            android:required="false" />
    </application>

</manifest>
